@import "couleurs.scss";

//mixin
@mixin btn-select{
    background-color: $darkest-blue;
    border-radius: 0 15px 15px 0;
    transition: 0.2s;
}
@mixin InputHover($width, $height, $radius, $transform, $bottom, $left){
    @include flex(row, center, center);
    position: absolute;
    background-color: $fond-plumes;
    width: $width;
    height: $height;
    border-radius: $radius;
    transform: $transform;
    bottom: $bottom;
    left : $left;
    opacity: 0;
    .change-image{
        position: relative;
    }
    .imageProfile{
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &:hover{
        opacity: 0.9;
        transition: opacity 0.5s;
    }
    #label-file, #label-banner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

// le code
html{
    min-height: 100%;
    body{
        margin: 0;
        width: 100%;
        min-height: 100%;
        font-family: 'Outfit', sans-serif;
        @include flex(row, normal, normal);
        position: relative;
        .popup-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            @include flex(row, center, center);
            z-index: 1;
            backdrop-filter: blur(2px);
            .container-tweet{
                width: 50%;
                height: auto;
                border-radius: 20px;
                background-color: $darkest-blue;
                text-align: center;
                align-items: center;
                .tweet-title{
                    @include flex(row, normal, center);
                    margin: 30px 20px 30px 50px;
                    img{
                        border-radius: 50%;
                        width: 90px;
                        margin-left: 15px;
                        cursor:pointer;
                    }
                    h3{
                        color: $white;
                        margin-left: 15px;
                        cursor:pointer;
                    }
                    span{
                        color: $disabled-text;
                        margin-left: 15px;
                    }
                }
                
                .tweet-send{
                    #textarea{
                        background-color: $fond;
                        color: $white;
                        border-radius: 20px;
                        height: 200px;
                        width: 80%;
                        font-size: 15px;
                        resize: none;
                        padding: 10px 10px 10px 10px;
                        position: relative;
                        &::placeholder{
                            padding-top: 1px;
                        }
                    }
                    #counter{
                        background-color: $fond;
                        color: $white;
                        border-radius: 20px;
                        width: 40px;
                        height: auto;
                        text-align: center;
                        font-size: 20px;
                        position: absolute;
                        right: 30%;
                        margin: 11% 4px;
                    }
                }
                .bottom-tweet{
                    @include flex(row, space-between, normal);
                    .bottom-left{
                        @include flex(row, normal, center);
                        margin: 20px 0px 20px 40px;
                        i{
                            font-size: 30px;
                            color: $theme-color;
                            cursor:pointer;
                        }
                        p{
                            color: $white;
                            margin-left: 20px;
                            cursor:pointer;
                        }
                    }
                    .bottom-right{
                        #btn-send{
                            @include flex(row, center, center);
                            font-family: 'Outfit', sans-serif;
                            margin: 25px 40px 20px 0px;
                            background-color: $theme-color;
                            color: $darkest-blue;
                            border-radius: 20px;
                            height: 40px;
                            width: 80px;
                            cursor:pointer;
                            border: none;
                        }
                    }
                }
                .space-image{
                    margin: 0px 0px 20px 0px;
                    #image {
                        width: 150px;
                        height: auto;
                      }
                }
            }
        }
        .popup-container {
            display: none;
        }
        #popup-fond{
            background-color: rgba(0, 0, 0, 0.80);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            backdrop-filter: blur(2px);
            @include flex(column, center, center);
            #popup{
                background-color: $fond;
                @include font(20px, $white, normal);
                width: 35%;
                height: 25%;
                border-radius: 15px;
                text-align: center;
                @include flex(column, space-evenly, center);
                #btn-popup{
                    width: 50%;
                    @include flex(row, space-evenly, normal);
                    #btn-non{
                        @include buttonPara($darkest-blue, 35px, 100px, 20px);
                        color: $white;
                    }
                    #btn-oui{
                        @include buttonPara($red, 35px, 100px, 20px);
                        color: $white;
                    }
                }
            }
        }
        .none{
            display: none !important;
        }
        .menu{
            @include flex(column, normal, normal);
            background-color: $fond;
            color: $white;
            width: 17%;
            height: 100%;
            font-size: 20px;
            padding-top: 3%;
            position: fixed;
            #logo{
                width: 150px;
                align-self: center;
                margin-bottom: 20%;
            }
            @include searchBar(0px, 35px, 80%);
            .onglet{
                @include flex(row, normal, center);
                img{
                    padding: 5%;
                }
                &:hover{
                    @include btn-select;
                }
            }
            .actif{
                @include btn-select;
            }
            #menu-btn{
                @include flex(column, center, normal);
                height: 35%;
                padding-top: 20%;
            }
        }
        #home{
            @include flex(row, normal, normal);
            width: 100%;
            .container-centre {
                padding-top: 8vh;
                padding-left: 17%;
                width: 66%;
                min-height: 100%;
                background-color: $fond-plumes;
                flex-direction: column;
                justify-content: center;
                .rotate {
                    animation: rotate 1s ease-in-out;
                }
                  @keyframes rotate {
                    from {
                      transform: rotate(0deg);
                    }
                    to {
                      transform: rotate(360deg);
                    }
                }
                    .top {
                        height: 8vh;
                        background-color: $darkest-blue;
                        color: $white;
                        flex-direction: row;
                        display: flex;
                        justify-content: space-around;
                        border-radius: 0 0 20px 20px;
                        position: fixed;
                        top: 0;
                        width: 66%;
                            .title-top{
                                margin-top: auto;
                                cursor:pointer;  
                            }
                            .title-top:hover{
                                font-weight: 900;
                                    transition: color 100ms;
                                    box-shadow: inset 0 -5px 0 $theme-color;
                            }
                    }
                    @include plume;
            }
            .container-droite {
                @include searchBar(50px, 15px, 90%);
                width: 17%;
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                background-color: $fond;
                display: flex;
                flex-direction: column;
                align-items: center;
                .rapide{
                    width: 80%;
                    height: auto;
                    background-color: $darkest-blue;
                    margin-top: 10%;
                    text-align: center;
                    border-radius: 20px;
                    color: $white;
                    font-size: 15px;
                    position:fixed;
                    width: 14%;
                    img{
                        border-radius: 50%;
                        height: 70px;
                        cursor:pointer;
                    }
                    h3{
                        margin-top: 30px;
                        font-size: 15px;
                        cursor:pointer;
                    }
                    .account{
                        display: flex;
                        flex-direction: row;
                        margin: 25px 25px 25px 25px;
                        justify-content: space-around;
                        .account-title{
                            margin-top: -25px;
                            margin-left: 30px;
                            span{
                                color: $disabled-text;
                            }
                        }
                    }
                }
                .tweeter{
                    background-color: $theme-color;
                    height: 90px;
                    width: 90px;
                    border-radius: 50%;
                    position: fixed;
                    bottom: 3%;
                    right: 3%;
                    text-align: center;
                    cursor:pointer;
                    i{
                        margin-top: 20px;
                        color: $darkest-blue;
                        font-size: 40px;
                        cursor:pointer;
                        
                    }
                }
            }
        }

        #save{
            @include font(22px, $white, normal);
            background-color: $fond-plumes;
            @include DecalOnglet();
            @include flex(row, normal, normal);
            #all-save{
                width: 80%;
                height: fit-content;
                .save-container-centre {
                    padding-top: 2vh;
                    background-color: $fond-plumes;
                    #no-save {
                        position: absolute;
                        z-index: 3;
                        width: 60%;
                        @include flex(row, center, center);
                        height: 100vh;
                        font-size: 24px;
                        margin: 0 50px 0 50px;
                        text-align: center;
                        background-color: $fond-plumes;
                        i{
                            color: $theme-color;
                        }
                      }
                    // #no-save{
                    //     display: none;
                    // }
                    .rotate {
                        animation: rotate 1s ease-in-out;
                    }
                    @keyframes rotate {
                        from {
                          transform: rotate(0deg);
                        }
                        to {
                          transform: rotate(360deg);
                        }
                    }
                        .save-tweet{
                            width: 80%;
                            height: auto;
                            background-color: $darkest-blue;
                            border-radius: 20px;
                            margin: auto;	
                            margin-top: 50px;
                            margin-bottom: 20px;
                            @include flex(column, space-between, center);
                                .save-tweet-profil{
                                    width: 90%;
                                    max-height: 50%;
                                    margin-top: 20px;
                                    @include flex(row, space-between, normal);
                                        .save-tweet-title{
                                            @include flex(row, normal, center);
                                            img{
                                                border-radius: 50%;
                                                width: 70px;
                                                margin-left: 15px;
                                                cursor:pointer;
                                            }
                                            h3{
                                                color: $white;
                                                margin-left: 15px;
                                                cursor:pointer;
                                            }
                                            span{
                                                color: $disabled-text;
                                                margin-left: 15px;
                                            }
                                        }
                                        .save-tweet-save{
                                            @include flex(row, space-between, normal);
                                            margin-top: 20px;
                                                i{
                                                    color: $theme-color;
                                                    font-size: 30px;
                                                    cursor:pointer;
                                                }
                                                span{
                                                    color: $white;
                                                    font-size: 20px;
                                                }
                                        }
                                }
                                
                                .save-tweet-message{
                                    height: auto;
                                    margin: 25px 0px 30px 0px;
                                    width: 90%;
                                    color: $white;
                                        p{
                                            font-size: 20px;
                                            width: 90%;
                                        }
                                }
                                .save-tweet-icons{  
                                    width: 50%;
                                    max-height: 20px;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: end;
                                    justify-content: space-around;
                                    margin-bottom: 20px;
                                        i{
                                            color: $theme-color;
                                            font-size: 20px;
                                            cursor:pointer;
                                        }
                                }
                        }
                }
                .save-container-droite {
                    @include searchBar(50px, 15px, 90%);
                    width: 17%;
                    position: fixed;
                    top: 0;
                    right: 0;
                    height: 100%;
                    background-color: $fond;
                    @include flex(column, normal, center);
                    .save-rapide{
                        width: 80%;
                        height: auto;
                        background-color: $darkest-blue;
                        margin-top: 10%;
                        text-align: center;
                        border-radius: 20px;
                        color: $white;
                        font-size: 15px;
                        position:fixed;
                        width: 14%;
                        img{
                            border-radius: 50%;
                            height: 70px;
                            cursor:pointer;
                        }
                        h3{
                            margin-top: 30px;
                            font-size: 15px;
                            cursor:pointer;
                        }
                        .save-account{
                            margin: 25px 25px 25px 25px;
                            @include flex(row, space-around, normal);
                            .account-title{
                                margin-top: -25px;
                                margin-left: 30px;
                                span{
                                    color: $disabled-text;
                                }
                            }
                        }
                    }
                    .save-tweeter{
                        background-color: $theme-color;
                        height: 90px;
                        width: 90px;
                        border-radius: 50%;
                        position: fixed;
                        bottom: 3%;
                        right: 3%;
                        text-align: center;
                        cursor:pointer;
                        i{
                            margin-top: 20px;
                            color: $darkest-blue;
                            font-size: 40px;
                            cursor:pointer;
                        }
                    }
                }
            }
        }
                            
        #profile{
            @include DecalOnglet();
            @include flex(column, normal, normal);
            background-color: $fond-plumes;
            min-height: 100vh;
            #infos-profil{
                position: relative;
                width: 100%;
                @include flex(column, normal, normal);
                #profile-picture{
                    position: absolute;
                    top: 45%;
                    left: 15%;
                    transform: translateX(-50%) translateY(-50%);
                    border-radius: 50%;
                    width: 180px;
                    height: 180px;
                }
                #banniere-profil{
                    width: 100%;
                    max-height: 220px;
                    object-fit: fill;
                }
                #stats-profil{
                    align-self: center;
                    width: 60%;
                    height: 50px;
                    @include flex(row, space-evenly, center);
                    @include font(22px, $white, normal);
                }
                #desc-profile{
                    width: 100%;
                    height: 250px;
                    padding-top: 25px;
                    @include font(19px, $white, normal);
                    background-color: $darkest-blue;
                    @include flex(column, center, center);
                    #profile-container{
                        width: 80%;
                        @include flex(row, space-between, center);
                        #name-profile{
                            min-width: 20%;
                            width: fit-content;
                            @include flex(row, space-between, end);
                            #pseudo-profile{
                                @include font(27px, $white, bold);
                                margin-right: 40px;
                            }
                            #username-profile{
                                @include font(18px, $disabled-text, normal);
                            }
                        }
                        button{
                            @include buttonPara($theme-color, 35px, 100px, 18px);
                        }
                    }
                    #biography-profile{
                        width: 80%;
                    }
                }
            }
            #plumes-profil{
                @include flex(column, normal, center);
                #menu-profil{
                    @include flex(row, space-evenly, center);
                    @include font(20px, $white, bold);
                    width: 80%;
                    height: 80px;
                    .btn-menu-profil{
                        &:hover{
                            cursor: pointer;
                        }
                        &:hover .selecteur{
                            width: 100%;
                        }
                        .selecteur{
                            background-color: $theme-color;
                            width: 0;
                            height: 5px;
                            border-radius: 5px;
                            transition: width 0.2s linear;
                        }
                        .selecteur-actif{
                            width: 100%;
                        }
                    }
                }
            }
        }
        #parameters{
            @include font(22px, $white, normal);
            background-color: $fond-plumes;
            @include DecalOnglet();
            @include flex(row, normal, normal);
            #all-parameters{
                @include flex(column, normal, center);
                width: 60%;
                height: fit-content;
                margin-left: 10%;
                position: relative;
                h2{
                    @include font(30px, $white, bold);
                    align-self: self-start;
                }
                #profile-part1{
                    @include flex(row, space-between, center);
                    margin-top: 7%;
                    width: 100%;
                    height: 200px;
                    .user{
                        @include flex(column, space-between, normal);
                        height: 100%;
                        position: relative;
                        #username, #pseudo{
                            @include inputProfil(45px, 300px);
                            @include font(16px, $white, normal);
                            &:disabled{
                                @include font(16px, $disabled-text, normal);
                                cursor: not-allowed;
                            }
                        }
                        .change-image{
                            @include InputHover(152px, 152px, 50%, translateX(-50%), 0, 50%);
                        }
                    }
                    #default-profile{
                        border-radius: 50%;
                        width: 150px;
                        height: 150px;
                    }
                }
                #profile-part2{
                    margin-top: 8%;
                    @include flex(column, space-between, normal);
                    width: 100%;
                    #biography{
                        @include inputProfil(120px, 100%);
                        resize: none;
                        padding-top: 15px;
                        @include font(16px, $white, normal);
                        &::placeholder{
                            @include font(16px, $white, normal);
                        }
                    }
                    #banner-input{
                        position: relative;
                        margin-bottom: 5%;
                        #bannerProfile{
                            width: 100%;
                            max-height: 300px;
                            object-fit: cover;
                            border-radius: 15px;
                        }
                        .change-image{
                            @include InputHover(100%, 100%, 15px, translateX(-50%), 0, 50%);
                        }
                    }
                    #enregistrer-modif{
                        @include buttonPara($theme-color, 50px, 300px, 20px);
                        align-self: center;
                    }
                }
                #profile-part3{
                    width: 100%;
                    height: 230px;
                    margin: 5% 0;
                    @include flex(row, space-between, center);
                    .mail-mdp{
                        height: 100%;
                        @include flex(column, space-between, space-between);
                        input{
                            @include inputProfil(45px, 300px);
                            @include font(16px, $white, normal);
                            margin-bottom: 5%;
                            &::placeholder{
                                @include font(16px, $white, normal);
                            }
                            &:disabled{
                                @include font(16px, $disabled-text, normal);
                                cursor: not-allowed;
                                
                            }
                        }
                        button{
                            align-self: center;
                            @include buttonPara($theme-color, 35px, 50%, 18px);
                        }
                    }
                }
                #supprimer{
                    color: $red;
                    margin-bottom: 5%;
                    cursor: pointer;
                    align-self: flex-start;
                }
            }
        }
    }
}