$color_1: #FFFFFF;
$color_2: #FFF48E;
$color_3: #B0B0B0;
$color_4: #1B202D;
$background-color_1: #232A3C;
$background-color_2: #262C3E;
$background-color_3: #1B202D;
$background-color_4: #1E1E1E;
$background-color_5: #FFF48E;


body {
	margin: 0;
	display: flex;
    font-family: 'Outfit', sans-serif;
}

// ------------------DIV_GAUCHE------------------
.container-gauche {
	width: 17%;
	height: 100;
	background-color: $background-color_1;
}

// ------------------DIV_CENTRE------------------
.container-centre {
	width: 66%;
	height: 100%;
	background-color: $background-color_2;
	flex-direction: column;
    justify-content: center;
        .top {
            height: 10vh;
	        background-color: $background-color_3;
	        color: $color_1;
	        flex-direction: row;
	        display: flex;
	        justify-content: space-around;
            border-radius: 0 0 20px 20px;
            position: fixed;
            width: 66%;
                .title-top{
                    margin-top: auto;
                    cursor:pointer;  
                }
                .title-top:hover{
                    font-weight: 900;
                        transition: color 100ms;
                        box-shadow: inset 0 -14px 0 #bdff67;
                } 
        }
        .tweet{
            width: 80%;
	        height: auto;
	        background-color: $background-color_3;
	        border-radius: 20px;
            margin: auto;	
            margin-top: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;  
                .tweet-profil{
                    width: 90%;
                    max-height: 50%;
                    margin-top: 20px;
                    display: flex;        
                    justify-content: space-between;
                        .tweet-title{
                            display: flex; 
                            flex-direction: row;
                            align-items: center;
                            img{
                                border-radius: 50%;
                                width: 70px;
                                margin-left: 15px;
                                cursor:pointer;
                            }
                            h3{
                                color: $color_1;
                                margin-left: 15px;
                                cursor:pointer;
                            }
                            span{
                                color: $color_3;
                                margin-left: 15px;
                            }
                        }
                        .tweet-save{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 20px;
                                i{
                                    color: $color_2;
                                    font-size: 30px;
                                    cursor:pointer;
                                }
                                span{
                                    color: $color_1;
                                    font-size: 20px;
                                }
                        }
                }
                
                .tweet-message{
                    height: auto;
                    margin: 25px 0px 30px 0px;
                    width: 90%;
                    color: $color_1;
                        p{
                            font-size: 20px;
                        }
                }
                .tweet-icons{  
                    width: 50%;
                    max-height: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    justify-content: space-around;
                    margin-bottom: 20px;
                        i{
                            color: $color_2;
                            font-size: 20px;
                            cursor:pointer;
                        }
                }
        }
}

.rotate {
    animation: rotate 1s ease-in-out;
}
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

// ------------------DIV_DROITE------------------
.container-droite {
	width: 17%;
	height: 100;
	background-color: $background-color_1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .rapide{
        width: 80%;
        height: auto;
        background-color: $background-color_3;
        margin-top: 10%;
        text-align: center;
        border-radius: 20px;
        color: $color_1;
        font-size: 15px;
        position:fixed;
        width: 14%;
        img{
            border-radius: 50%;
            height: 70px;
            cursor:pointer;
        }
        h3{
            margin-top: 30px;
            font-size: 15px;
            cursor:pointer;
        }
        .account{
            display: flex;
            flex-direction: row;
            margin: 25px 25px 25px 25px;
            justify-content: space-around;
            .account-title{
                margin-top: -25px;
                margin-left: 30px;
                span{
                    color: $color_3;
                }
            }
        }
    }
    .tweeter{
        background-color: $background-color_5;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        position: fixed;
        bottom: 3%;
        right: 3%;
        text-align: center;
        cursor:pointer;
        i{
            margin-top: 20px;
            color: $color_4;
            font-size: 40px;
            cursor:pointer;
            
        }
    }
}

#searchbar{
	margin-top: 40px;
	padding: 5px;
	border-radius: 35px;
    text-align: center;
    position: fixed;
}
.icon{
    position: fixed;
    z-index: 1;
}
.icon{
    padding: 45px;
    min-width: 10px;
    right: 8.7%;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(2px);
}
.popup-container {
    display: none;
}    

.container-tweet{
    width: 50%;
    height: auto;
    border-radius: 20px;
    background-color: $background-color_3;
    text-align: center;
    align-items: center;
    .tweet-title{
        display: flex; 
        flex-direction: row;
        align-items: center;
        margin: 20px 20px 20px 5px;
        img{
            border-radius: 50%;
            width: 90px;
            margin-left: 15px;
            cursor:pointer;
        }
        h3{
            color: $color_1;
            margin-left: 15px;
            cursor:pointer;
        }
        span{
            color: $color_3;
            margin-left: 15px;
        }
    }
    
    .tweet-send{
        #textarea{
            background-color: $background-color_1;
            color: $color_1;
            border-radius: 20px;
            max-height: 300px;
            width: 100%;
            font-size: 15px;
            resize: none;
        }
        #counter{
            background-color: $background-color_1;
            color: $color_1;
            border-radius: 20px;
            width: auto;
            height: auto;
            text-align: right;
            font-size: 15px;
        }
    }
    .bottom-tweet{
        display: flex;
        justify-content: space-between;
        .bottom-left{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px 0px 20px 40px;
            i{
                font-size: 30px;
                color: $color_2;
                cursor:pointer;
            }
            p{
                color: $color_1;
                margin-left: 20px;
                cursor:pointer;
            }
        }
        .bottom-right{
            #btn-send{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 25px 40px 20px 0px;
                background-color: $background-color_5;
                color: $color_4;
                border-radius: 20px;
                height: 40px;
                width: 80px;
                cursor:pointer;
            }
        }
    }
    .space-image{
        margin: 0px 0px 20px 0px;
        #image {
            width: 200px;
            height: auto;
          }
    }
}




